[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
black = "*"
python-dotenv = "*"
langchainhub = "*"
langchain-community = "*"
langchain-mongodb = "*"
pymongo = "*"
dateparser = "*"
pydantic = "*"
sentence-transformers = "*"
langchain-huggingface = "*"
langgraph = "*"
streamlit = "*"
streamlit-chat = "*"
boto3 = "*"
toml = "*"
streamlit-cookies-controller = "*"

[dev-packages]

[requires]
python_version = "3.11"
